

<p id="notice">Signed in successfully.</p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
        	  <th>name</th>
        	  <th><%= @user.name %></th>
          </tr>
          <tr>
        	  <th>introduction</th>
        	  <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>
　<div class="row">
    <%= link_to "", edit_user_path(@user),class: "btn btn-outline-secondary btn-block fas fa-user-cog"  %>

  </div>
  
      
  <h2>New book</h2>
  <%= form_with model: @newbook, method: :post, local:true do |f| %>
    <label>Title</label><br>
    <%= f.text_field :title %><br>
    <label>Opinion</label><br>
    <%= f.text_area :body %><br>
    <%= f.submit 'Create Book', class:"btn btn-success" %>
  <% end %>
  </div>
  
  <div class="col-md-8 offset-md-1"><!--なぜmd-1？-->
  <h2>Book detail</h2>
 
      <table style="width: 100%;" class="book-detail-table">
        <colgroup>
          <col style="width: 20%">
          <col style="width: 20%">
          <col style="width: 20%">
          <col style="width: 20%">
          <col style="width: 20%">
        </colgroup>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
              <% end %> 
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            
              <td>
                <% if @user.id == current_user.id %>
                <%= link_to 'Edit',edit_book_path, class:"btn btn-success" %>
                <% end %>
              </td>
              <td>
                <% if @user.id == current_user.id %>
                <%= link_to 'Destroy',book_path(@book.id), method: :delete, class:"btn btn-danger" %>
                <% end %>
              </td>
            
          </tr>
          <tr>
            <td>
              <%= link_to user_path(@user) do %>
                <%= @user.name %><!--定義した@userからnameカラムを持ってってくる-->
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
   </div>
  </div>