<p id="notice">Signed in successfully.</p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
      <%= image_tag('no_image.jpg') %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
        	  <th>name</th>
        	  <th>kk</th>
          </tr>
          <tr>
        	  <th>introduction</th>
        	  <th></th>
          </tr>
        </tbody>
      </table>
　<div class="row">
   <%= link_to edit_user_path, class: "btn btn-outline-secondary form-control" do %>
     <i class="fas fa-user-cog"></i>
   <% end %>
  </div>
  
      
  <h2>New book</h2>
  <%= form_with model: @book, local:true do |f| %>
    <label>Title</label><br>
    <%= f.text_field :title %><br>
    <label>Opinion</label><br>
    <%= f.text_area :opinion %><br>
    <%= link_to 'Create book',book_path, class:"btn btn-success" %>
  <% end %>
  </div>
  
  <div class="col-md-8 offset-md-1"><!--なぜmd-1？-->
  <h2>Book detail</h2>
  <table style="width: 100%;" class="book-detail-table">
    <colgroup>
      <col style="width: 20">
      <col style="width: 20">
      <col style="width: 20">
      <col style="width: 20">
      <col style="width: 20">
    </colgroup>
    <tbody>
      <tr>
        <td><%= image_tag('no_image.jpg') %></td>
        <td><%= link_to 'title', book_path %></td>
        <td>opinion</td>
        <td><%= link_to 'Edit',edit_book_path, class:"btn btn-success" %></td>
        <td>
          <!--コピー.txtのif文入れる-->
            <%= link_to 'Destroy',books_path(@book), method: :delet, class:"btn btn-danger" %>
        </td>
      </tr>
      <tr>
        <td><%= link_to 'name', user_path %></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  
</div>